name: Build And Upload Extension Zip Via Artifact

on:
  pull_request_target:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-env
      - run: pnpm build
      - uses: actions/upload-artifact@v4
        with:
          path: dist/*
